.Logo{
    width:250px;
    }

.SG{
    width:250px;
    }

.ES{
    width:250px;
    }

.LP{
    width:250px;
    }    
 

.iconos{
    float:right;
    padding:20px;
    list-style:none;
}

img.Casa{
    width:75px;
    position:relative;
    opacity:0.3;
    list-style:none;
    -webkit-transition: opacity .4s;
}

img.Casa:hover{opacity:1;} 
 
 
 /* cada item del menu */
  .menu-gibson  li {
    display: block;
    float: left;
    list-style: none;
    margin: 5px;
    padding: 0;
    position: relative;
  }
  .menu-gibson li img {
    border-radius:500px;
    border:3px solid;
    color:#cccccc;
    display: block;
    padding:0 14px;
    margin: 6px 0;
}
 
  
  
  .menu-gibson ul {
    color:black;
    border-radius:5px;
    left:0;
    margin: 10px;
    width:100px;
    position: relative;
    /* se ubican debajo del enlace principal */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  
  /* son visibes al poner el cursor encima */
  .menu-gibson li:hover > ul { opacity: 1; }
  
  .menu-gibson ul li {
     border-radius:3px;
    height:0; 
    color:black;
    overflow: hidden;
    padding:0;
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
  .menu-gibson li:hover > ul li {
    height: 46px; /* los mostramos */
    overflow: visible;
    
}
