
body {
    background-color:Black;
}

h1 {
    color:#bebebe; 
    font: "Sniglet";
    text-align:center;
    opacity:0.1;
    font-size:175px;
    
}

li {
    text-align:center;
    color:white;
    font-family: "Sniglet";
    float:left;
    margin:20px;
    padding:5px;
}


