
body {
    background-color:Black;
}

h1 {
    color:#bebebe; 
    font: "Sniglet";
    text-align:center;
    opacity:0.1;
    font-size:175px;
    
}

li {
    text-align:center;
    color:white;
    box-align:center;
    border-color:White;
    
}


  .mi-menu  {
  color: white;
  }

 .mi-menu li a {
    color:White;
    display: block;
    font-family: Tahoma;
    line-height: 24px;
    padding: 1.5px;
    margin: 5px;
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  
  
    .mi-menu ul {
     
    border-radius: 2.5px;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: relative;
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  /* son visibes al poner el cursor encima */
  .mi-menu li:hover > ul { opacity: 1; }
  
  
  

#Gib{
  
 font-weight: bold;    
 box-align:center;    
 Font-family:Arial;
 border:solid 2.5px;    
  border-color:White;
 }

#Fen{
    
 font-weight: bold;    
 box-align:center;     
 Font-family:Arial;    
 border:solid 2.5px;    
  border-color:White;
}

#Iba{
  
 font-weight: bold;    
 box-align:center;     
 Font-family:Arial;
 border:solid 2.5px;    
  border-color:White;
}

#Lag{
 
 font-weight: bold;   
 box-align:center;     
 Font-family:Arial;
 border:solid 2.5px;    
  border-color:White;
}

#Esp{
   
 font-weight: bold;   
 box-align:center;     
 Font-family:Arial;
 border:solid 2.5px;    
  border-color:White;
}

